*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Estilos para el modo claro */
body {
  background-color: #111111;
  color: #ffffff;
}

/* Estilos para el modo oscuro */
body.dark-mode {
  background-color: #ffffff;
  color: #000000;
}





.eczar-font {
  font-family: "Eczar", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.imgPrincipal {
  border-radius: 24% 76% 26% 74% / 74% 16% 84% 26%  !important;
}

.filas {
    display: flex;
  
    flex-wrap: wrap;
    padding: 0 4px;
    align-items: flex-end;  
    }


  .columnas  {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
 .columnas a {
  width: 100%;
 }

  .columnas img {
    
    margin-top: 8px;
    vertical-align: middle;
    object-fit: fill;
    
    
  }

  .name {
    color: white;
    text-shadow: 2px 2px 4px #00000091;
   
  }

  .art {
    color: white;
    text-shadow: 2px 2px 4px #737373;
  }

  .name:hover{
    
    cursor: pointer;
  }

  svg:hover {
    color: rgba(153, 0, 255, 0.651);
  }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media (max-width: 800px) {
        .columnas {
          flex: 50%;
          max-width: 50%;
        }
      }
      
      /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
      @media (max-width: 600px) {
        .columnas {
          flex: 100%;
          max-width: 100%;
        }
      }




